"$schema" = 'https://starship.rs/config-schema.json'

format = """
$os\
$username\
$directory\
$git_branch\
$git_status\
$c\
$rust\
$golang\
$nodejs\
$java\
$kotlin\
$python\
$cmd_duration\
$line_break$character"""

palette = 'catppuccin_mocha'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[os]
disabled = false
style = "fg:lavender"

[os.symbols]
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Arch = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "fg:peach"
style_root = "fg:yellow"
format = '[ $user ]($style)'

# Dir
[directory]
style = "fg:blue"
format = "[$path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

# Git
[git_branch]
symbol = "󰘬"
style = "fg:mauve"
format = '[$symbol $branch ]($style)'

[git_status]
style = "fg:red"
format = '[($all_status$ahead_behind )]($style)'

[cmd_duration]
style = "fg:pink"
format = "[$duration ]($style)"

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[ ](bold fg:green)'
error_symbol = '[ ](bold fg:red)'
vimcmd_symbol = '[ ](bold fg:sapphire)'
vimcmd_replace_one_symbol = '[ ](bold fg:purple)'
vimcmd_replace_symbol = '[ ](bold fg:purple)'
vimcmd_visual_symbol = '[ ](bold fg:blue)'

# Languages
[nodejs]
symbol = ""
style = "fg:lavendar"
format = '[$symbol( $version) ]($style)'

[c]
symbol = " "
style = "fg:lavendar"
format = '[$symbol( $version) ]($style)'

[rust]
symbol = ""
style = "fg:lavendar"
format = '[$symbol( $version) ]($style)'

[golang]
symbol = ""
style = "fg:lavendar"
format = '[$symbol( $version) ]($style)'

[java]
symbol = " "
style = "fg:lavendar"
format = '[$symbol( $version) ]($style)'

[kotlin]
symbol = ""
style = "fg:lavendar"
format = '[$symbol( $version) ]($style)'

[python]
symbol = ""
style = "fg:lavendar"
format = '[$symbol( $version) ]($style)'

[lua]
symbol = " "
style = "fg:lavendar"
format = '[$symbol( $version) ]($style)'

[pulumi]
symbol = " "
style = "fg:lavendar"
format = '[$symbol( $version) ]($style)'
